<footer>
  <h1>
    &copy The Show List brought to you by
    <br />
    <a href="https://www.shockleyje.com/">James Shockley,</a>
    <a href="https://nick-sramcik.netlify.app/">Nick Sramcik,</a>
    <a href="https://www.lindsayrainey.com/">Lindsay Rainey,</a>
    <a href="https://www.jacobegood.com">Jacob Good,</a>
    <a href="https://www.linkedin.com/in/eric-yead-53941023a/">Eric Yead,</a> &
    <a href="https://github.com/b-richardson">Brian Richardson.</a>
  </h1>
</footer>
