<nav>
  <a href="/">
    <img class="logo" src="assets/best-buds-logo.png" alt="movie-guide-logo" />
  </a>
  <a href="/login">Login</a>
  <a href="/stats">Stats</a>
  <a href="/signup">Signup</a>
</nav>
