@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root {
    --main-bg-color: #2f3e46;
    --main-text-color: #cad2c5;
    --main-highlight-color: #84a98c;

    --mid-bg-color: #52b788;
    --login-hover:  #5dd39e;
    --signup-hover: #effae9;

    --alert-text: #f72585;

    /* title colored text */
    --color-1: #f4f1de;
    --color-2: #2a9a9f;
    --color-3: #f1b211;
    --color-4: #e07a5f;
    --color-5: #81b29a;
}


body {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    width: 100%;
    height: 100%;
    font-family: 'Nunito', sans-serif;
}
.completed{
    text-decoration: line-through;
    color: gray;
}
.not{
    text-decoration: underline;
}



/* 
===============
partials --> navbar.ejs  styles
=============== 
*/
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.2);
}
nav a, nav h1 {
    color: var(--main-text-color);
    font-size: 1.5rem;
    font-weight: bolder;
}
nav a:hover {
    color: var(--main-highlight-color)
}
.logo {
    height: 60px;
}

/* 
===============
partials --> footer.ejs  styles
=============== 
*/
footer {
  margin: 25px 0;
  text-align: center;
  padding: 5px 50px;
}
footer a {
  text-decoration: underline; 
  color: var(--main-text-color);
}
/* differentiate on names of footer */
.odd-list {
  color: var(--signup-hover)
}


/* 
================
Scrollbar
================
*/
::-webkit-scrollbar {
  display: none;
}

/* 
===============
INDEX.ejs  styles
=============== 
*/
a {
    text-decoration: none;
}
section {
    align-items: center;
    justify-content: center;
}
section h1{
    color: var(--main-text-color);
    font-size: 3rem;
}
.index-top { 
  background-image: url("https://images.unsplash.com/photo-1626814026160-2237a95fc5a0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80");
  min-height: calc(100vh - 60px)
}
.index-description {
  background-color: var(--main-bg-color);
}
.index-description h3 {
  font-size: 1rem;
}

/* multi-colored text for the title */
.title-wrapper {
  background: var(--main-bg-color);
  line-height: 1;
  min-height: 100%;
  display: grid;
  place-items: center;
  min-height: fit-content;
}
.index-description h1 {
  font-size: 2.5rem;
  font-weight: 800;
  margin: auto;
  text-transform: uppercase;
  background: linear-gradient(219deg, 
    var(--color-1) 19%, 
    transparent 19%,transparent 20%, 
    var(--color-2) 20%, var(--color-2)  39%,
    transparent 39%,transparent 40%, 
    var(--color-3) 40%,var(--color-3) 59% ,
    transparent 59%,transparent 60%, 
    var(--color-4) 60%, var(--color-4) 79%,
    transparent 79%, transparent 80%, 
    var(--color-5) 80%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.index-top>div {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
section div img {
    width: 100%;
    object-fit: cover;
}
.best-buds-description {
    margin: 2rem 0;
    line-height: 1.8rem;
}
section div h3 {
    font-size: 1.3rem;
}
.btn {
    display: flex;
    color: var(--main-bg-color);
    font-size: 1.3rem;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    text-decoration: none; 
    border-radius: 5px; 
}
.login {
    background-color: var(--mid-bg-color);
}
.login:hover {
    background-color: var(--login-hover);
}
.signup{
    background-color: var(--main-text-color);
}
.signup:hover {
    background-color: var(--signup-hover);
}
.button-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 2rem 4rem;
}
.trending-shows {
    display: flex;
    flex-direction: column; 
}
.trending-shows>div {
    display: flex;
    width: 100%;
    overflow-x: scroll;
}
.star-rating span {
    color: yellow;
    font-size: 0.7rem;
}
.single-show-container {
    width: 120px;
    margin: 10px;
    padding: 15px;
    box-shadow: 0 0 8px 2px rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 25px;
}
.single-show-container h2 {
    font-size: 1.2rem;
    font-weight: bold;
}
.single-show-container h3 {
    font-size: 1rem;
    font-weight: bold;
    margin: 5px 0;
}
.single-show-container h3>span {
    color: yellowgreen;
}


/* 
===============
login.ejs  styles
=============== 
*/
#login-section {
    width: 100vw;
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-container {
    max-width: 400px;
}
.form-container form {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.form-container h1 {
    font-size: 2.5rem;
}
.form-container p, .form-container input {
    margin: 15px 0;;
}
.form-container input {
    height: 35px;
}
.full-btn {
    width: 100%;
    background-color: var(--login-hover);
    border: none;
    border-radius: 5px;;
}
.full-btn:hover {
    opacity: 0.8;
    cursor: pointer;
}
.form-container a {
    text-decoration: underline;
    color: var(--main-text-color);
}
.underlined-input {
    background-color: var(--main-bg-color);
    border: none;
    outline: none;
    border-bottom: 1px solid var(--login-hover);
    color: var(--main-text-color)
}
.underlined-input:active {
    outline: none;
    border: none;
}

.alert {
    color: var(--alert-text)
}


/* movie ejs page */
.movieHeader {
    box-shadow: 0 0 10px 1px rgb(255 255 255 / 20%);
    margin-bottom: 12px;
}

.header-Container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    column-gap: 20%;
    width: 80%;
}
.header-Container .logo {
    padding-top: 10px;
}
.header-Container .logout {
  
    padding-top: 20px;
    font-size: 30px;
    font-family: 'Nunito', sans-serif;
}
.header-Container .logout:visited {
    color:#cad2c5;
}
.header-Container .logout:hover {
    color: aquamarine;
}
.gallery-container {
    height: auto;
    width: auto;
    row-gap: 10px;
    column-gap: 2em;
    padding-top:20px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
}

.movie-card {
    width: 130px;
    height: auto;
    position:relative;
    margin-right: 20px;
    row-gap: 10px;
    column-gap: 2em;
}
.movieItem {
    list-style: none;
}

.watchedMovie {
    position: absolute;
    bottom:10px;
    left: 20px;
    font-size: 22px;
    color: rgb(87, 121, 255);

}
.liked{
    position: absolute;
    bottom:10px;
    left: 60px;
    font-size: 22px;
    color: rgb(87, 121, 255);


}

.del {
    position: absolute;
    bottom: 10px;
    right: 15px;
    font-size: 22px;
    color: rgb(87, 121, 255);
    opacity: 100%;

}
.icon-background {
    opacity: 0%;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 120px;
    height: 180px;
}

.icon-background:hover {
   opacity: 100%;
   background: rgba(255, 255, 255, 0.7);
   box-shadow: 0 0 10px #9ecaed;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 130px;
    height: 190px;
}
.movie-image {
    border-radius: .25rem;
}
.movie-image:hover {
    opacity: 50%;
}
.formInputs {
    position:relative;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%; 
}

#myInput{
    
    width: 89%;
}
#submitButton{
    border: 2px solid white;
    background-color: rgb(255, 255, 255);
    width:10%;
}


[data-tab-content] {
    display: none;
    
  }
  
  .active[data-tab-content] {
    display: block;
    
  }
  
  body {
    padding: 0;
    margin: 0;
  }
  
  .tabs {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid black;
  }
  
  .tab {
    cursor: pointer;
    padding: 10px;
  }
  
  .tab.active {
    background-color: rgb(4, 61, 29);
  }
  
  .tab:hover {
    background-color: rgb(50, 251, 157);
  }
  
  .tab-content {
    margin-top: 10px;
    background-color:rgb(9, 32, 44);
  }
  












/* breakpoints! */
@media all and (min-width: 800px) {
    section {
        display: flex;
    }
    .index-description {
      width: 40%;
    }
    .index-pic {
      width: 60%;
    }
    .index-top>div {
      padding: 5rem;
      border-radius: 20px;
    }
    .index-description h1 {
      font-size: 4rem;
    }
    .index-description h3 {
      font-size: 1.3rem;
    }
    
  }


/* * {
    outline: 1px solid red;
  } */